body{
    font-family: 'Permanent Marker', cursive;
    margin-top: 0px;
    margin-left: 0px;
    background-image: url(/img/wp8984736-tic-tac-toe-wallpapers.jpg);

}
#casiUno {
    border-left: none;
    border-top: none;
}
#casiDos {
    
    border-top: none;
}
#casiTres {
    border-right: none;
    border-top: none;
}
#casiCuatro {
    border-left: none;
    
}

#casiSeis {
    border-right: none;
    
}
#casiSiete {
    border-left: none;
    border-bottom: none;
}
#casiOcho {
    
    border-bottom: none;
}
#casiNueve{
    border-bottom: none;
    border-right: none;
}


 
.botonAdarleCaña{
    font-size: 30px;
    border-radius: 30px;
    height: 100px;
    background-color: rgb(237, 156, 6);
} 
    
.panelPricipalinicio{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 200px;
    margin-top: 0px;
    margin-left: 100px;
    margin-top: 200px;
    align-items: center;
    background-color: rgba(13, 12, 12, 0.505);
}

.bannersuperio {
    font-size: 50px;
    color: rgb(0, 0, 0);
    
}
.ticTac {
    background-color: rgba(0, 0, 0, 0);   
    width:  120px;
    height: 120px;
    border: 5px rgb(0, 0, 0) solid;
    font-size: 40px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.tablero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: fit-content;
    transform: rotate(10deg);
    
}    
.tablero2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(9, 3, 5, 0.843);
    align-items: center;
    justify-content: center;  
    border-radius: 5px;
    height: 200px;
    text-align: center;
    margin-top: 70px;
}
.nombre {
        width: 100px;
        margin-left:20px
}
.cuerpo {
    display: grid;
    justify-content: center;
    background-image: url(/img/wp8984736-tic-tac-toe-wallpapers.jpg);
    color: aliceblue;
  
    
}

@media (min-width:600px){
    .bannersuperio{
        font-size: 100px;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    .botonDerecho{
        height: 100px;
    }
    .ticTac {
        background-color: rgba(0, 0, 0, 0);   
        width:  200px;
        height: 200px;
        border: 0px;
        border: 5px rgb(0, 0, 0) solid;
        font-size: 80px;
    }
    .contenedor {
        margin-top: 30px;
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .tablero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        height: fit-content;
        transform: rotate(10deg);
        
    }    
    .tablero2{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(11, 7, 8, 0.985);
        align-items: center;
        justify-content: center;  
        border-radius: 5px;
        height: 300px;
        text-align: center;
        font-size: 30px;
    }
    .nombre{

        width: 200px;
        height: 50px;
        margin-left: 70px;
        border-radius: 5px;
        margin-top: 2px;
        }
    
}
@media (min-width: 900px){
.cuerpo {
    display: grid;
    justify-content: center;
    background-image: url(/img/wp8984736-tic-tac-toe-wallpapers.jpg);
    color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 50px;
    
}
.bannersuperio{
    grid-column: 1/4;
    text-align: center;
    width: auto;
    font-size: 120px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    transform: rotate(10deg);
}

.contenedor {
    display: grid;
    grid-template-columns: 250px 250px 400px;
    margin: 0px;
}


.tablero {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 300px;
    transform: rotate(10deg);
    border: 1px black solid ;
    
    
}
.tablero2{
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;  
    width: 398px;
    border-radius: 20px  ;
    height: 400px;
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    z-index: 2;
    
    
    
    
}



.ticTac {
    background-color: rgba(214, 194, 128, 0.174);   
    width:  150px;
    height: 150px;
    border: 0px;
    border: 10px rgb(0, 0, 0) solid;
    font-size: 80px; 
    border-radius: 1px;
    
}

.letra {
    font-size: 30px;
}

.botonDerecho {
        border-radius: 5px;
        width: auto;
        height: 40px;
        margin: 15px;
}

/*inicio*/

.panelPricipalinicio {
    
    display:grid;
    grid-template-rows: 1fr ;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.contenedorInicio {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
    height: 600px;
    width: 800px;
    background-image: url(/img/wp8984729-tic-tac-toe-wallpapers.jpg);
    border-radius: 5px;
}
.botonAdarleCaña{
    font-size: 30px;
    border-radius: 30px;
    height: 100px;
    

}

.contenedorBotonPricipal{
    display: grid;
    grid-template-rows: 1fr;
    margin-top: -100px;
    justify-content: center;
}

.nombre {
    margin: 10px;
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
    background-color: rgba(84, 84, 84, 0.235);
    border-radius: 5px;
}
#casiUno {
    border-left: none;
    border-top: none;
}
#casiDos {
    
    border-top: none;
}
#casiTres {
    border-right: none;
    border-top: none;
}
#casiCuatro {
    border-left: none;
    
}

#casiSeis {
    border-right: none;
    
}
#casiSiete {
    border-left: none;
    border-bottom: none;
}
#casiOcho {
    
    border-bottom: none;
}
#casiNueve{
    border-bottom: none;
    border-right: none;
}
}

 


