body{
    font-family: 'Permanent Marker', cursive;
}
.cuerpo {
    display: grid;
    justify-content: center;
    background-image: url(/img/wp8984736-tic-tac-toe-wallpapers.jpg);
    color: aliceblue;
    height: 100vh;
}

.contenedor {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    
}


.tablero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
    
}
.tablero2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(4, 2, 2);
    align-items: center;
    justify-content: center;  
    width: 200px;
    border-radius: 10px;
    height:300px;
    text-align: center;
    margin-left: 100px;
}



.ticTac {
    background-color: rgba(0, 0, 0, 0);   
    width:  150px;
    height: 150px;
    border: 0px;
    border: 10px rgb(109, 109, 109) solid;
    font-size: 80px;

    
    
}
.letra {
    font-size: 30px;
}

.botonDerecho {

        font-family: sans-serif;
        border-radius: 5px;
        width: 100px;
        height: 40px;
}

/*inicio*/

.panelPricipalinicio {
    
    display:grid;
    grid-template-rows: 1fr ;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.contenedorInicio {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
    height: 600px;
    width: 800px;
    background-image: url(/img/wp8984729-tic-tac-toe-wallpapers.jpg);
    border-radius: 5px;
}
.botonAdarleCaña{
    font-size: 30px;
    border-radius: 30px;
    height: 100px;
    

}

.contenedorBotonPricipal{
    display: grid;
    grid-template-rows: 1fr;
    margin-top: -100px;
    justify-content: center;
}

.nombre {
    margin: 10px;

}
#casiUno {
    border-left: none;
    border-top: none;
}
#casiDos {
    
    border-top: none;
}
#casiTres {
    border-right: none;
    border-top: none;
}
#casiCuatro {
    border-left: none;
    
}

#casiSeis {
    border-right: none;
    
}
#casiSiete {
    border-left: none;
    border-bottom: none;
}
#casiOcho {
    
    border-bottom: none;
}
#casiNueve{
    border-bottom: none;
    border-right: none;
}

@media screen and (max-width: 1200px) {
    
    }
